Node-Red.json
[
    {
        "id": "07526d97e411573e",
        "type": "mqtt in",
        "z": "79a2be241972cc8e",
        "name": "",
        "topic": "182270416_IoT-SEMB2_Tanque",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "25a56e86b352bdec",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 100,
        "wires": [
            [
                "5cb1c3d20b26013b",
                "bdd4d5c8482769ec"
            ]
        ]
    },
    {
        "id": "5cb1c3d20b26013b",
        "type": "debug",
        "z": "79a2be241972cc8e",
        "name": "Temperatura",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 100,
        "wires": []
    },
    {
        "id": "3c441fa2804e5f8a",
        "type": "mqtt in",
        "z": "79a2be241972cc8e",
        "name": "",
        "topic": "182270416_IoT-SEMB2_Tanque2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "25a56e86b352bdec",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 200,
        "wires": [
            [
                "3969931461f8518c",
                "371bacf1419f99cf"
            ]
        ]
    },
    {
        "id": "3969931461f8518c",
        "type": "debug",
        "z": "79a2be241972cc8e",
        "name": "Distância",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 200,
        "wires": []
    },
    {
        "id": "e19e22332f36e813",
        "type": "mqtt in",
        "z": "79a2be241972cc8e",
        "name": "",
        "topic": "182270416_IoT-SEMB2_Tanque3",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "25a56e86b352bdec",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 300,
        "wires": [
            [
                "0e45b22dbb811aec",
                "6d74c72a43c11c4a"
            ]
        ]
    },
    {
        "id": "0e45b22dbb811aec",
        "type": "debug",
        "z": "79a2be241972cc8e",
        "name": "LED Amarelo",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 300,
        "wires": []
    },
    {
        "id": "27640a64f2e110a0",
        "type": "mqtt in",
        "z": "79a2be241972cc8e",
        "name": "",
        "topic": "182270416_IoT-SEMB2_Tanque4",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "25a56e86b352bdec",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 400,
        "wires": [
            [
                "fb01e60b1d06c245",
                "8f15130119f40238"
            ]
        ]
    },
    {
        "id": "fb01e60b1d06c245",
        "type": "debug",
        "z": "79a2be241972cc8e",
        "name": "LED Azul",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 400,
        "wires": []
    },
    {
        "id": "bdd4d5c8482769ec",
        "type": "influxdb out",
        "z": "79a2be241972cc8e",
        "influxdb": "a759a5dae99a00ba",
        "name": "Influx",
        "measurement": "Temperatura",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "Org",
        "bucket": "IoT-SEMB2",
        "x": 570,
        "y": 40,
        "wires": []
    },
    {
        "id": "371bacf1419f99cf",
        "type": "influxdb out",
        "z": "79a2be241972cc8e",
        "influxdb": "a759a5dae99a00ba",
        "name": "Influx",
        "measurement": "Distancia",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "Org",
        "bucket": "IoT-SEMB2",
        "x": 570,
        "y": 160,
        "wires": []
    },
    {
        "id": "6d74c72a43c11c4a",
        "type": "influxdb out",
        "z": "79a2be241972cc8e",
        "influxdb": "a759a5dae99a00ba",
        "name": "Influx",
        "measurement": "LED Amarelo",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "Org",
        "bucket": "IoT-SEMB2",
        "x": 570,
        "y": 260,
        "wires": []
    },
    {
        "id": "8f15130119f40238",
        "type": "influxdb out",
        "z": "79a2be241972cc8e",
        "influxdb": "a759a5dae99a00ba",
        "name": "influx",
        "measurement": "LED Azul",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "Org",
        "bucket": "IoT-SEMB2",
        "x": 570,
        "y": 360,
        "wires": []
    },
    {
        "id": "25a56e86b352bdec",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a759a5dae99a00ba",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    }
]